body {
    font-family: var(--font-sans);
    font-weight: var(--weight-normal);
    /* font-size: 16px; */
    line-height: 1.3em; // var(--lh-normal)
}

@media (max-width: 500px) {
    body {
	/* font-size: 14px; */
    }
}

body a:hover {
    text-decoration: underline;
}
