@keyframes overlay-show {
    0% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

@keyframes content-show {
    0% {
	opacity: 0;
	transform: translate(-50%, -48%) scale(.96);
    }
    100% {
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes collapsible-slide-out {
    from {
	width: 0;
    }
    to {
	width: var(--radix-collapsible-content-width);
    }
}

@keyframes collapsible-slide-in {
    from {
	width: var(--radix-collapsible-content-width);
    }
    to {
	width: 0;
    }
}

