{:paths ["src/cljs" "src/js"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        binaryage/devtools {:mvn/version "1.0.6"}
        lilactown/helix {:mvn/version "0.1.9"}
        com.fbeyer/refx {:mvn/version "0.0.49"}
        formsandlines/formform {:local/root "../formform"}}
 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.21.0"}}}
  :flowstorm
  ;; updating flow-storm causes issues with vim-iced, so use this version
  {:extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.1.263"}
                com.github.jpmonettas/flow-storm-inst {:mvn/version "3.1.263"}}
   :exec-fn flow-storm.debugger.main/start-debugger
   :exec-args {:port 8777
               :repl-type :shadow
               :build-id :app}}} }
