{:deps     {:aliases [:dev]}
 :npm-deps {:install false}
 :nrepl    {:middleware [cider.nrepl/cider-middleware]
            :port 8777}
 :builds   {:app {:target     :browser
                  :output-dir "public/js"
                  :asset-path "/js"
                  :modules    {:app {:init-fn form-tricorder.core/init
                                     ;; :entries [form-tricorder.core]
                                     }}
                  :devtools   {:reload-strategy :full
                               ;; :preloads [devtools.preload
                               ;;            day8.re-frame-10x.preload.react-18]
                               :after-load form-tricorder.core/init}

                  :dev
                  {:compiler-options {:closure-defines
                                      {re-frame.trace.trace-enabled?
                                       true
                                       day8.re-frame.tracing.trace-enabled?
                                       true}}}

                  :release
                  {:compiler-options {:optimizations :advanced
                                      :infer-externs :auto
                                      ;; subzero needs :es2018
                                      :output-feature-set :es2018}
                   :build-options    {:ns-aliases
                                      {day8.re-frame.tracing
                                       day8.re-frame.tracing-stubs}}}}}

 :dev-http {3000 {:root "public"}}}
