{:deps     {:aliases [:dev]}
 :npm-deps {:install false}
 :nrepl    {:middleware [cider.nrepl/cider-middleware]
            :port 8777}
 :builds   {:app {:target     :browser
                  :output-dir "public/js"
                  :asset-path "/js"
                  :modules    {:app
                               {:entries [form-tricorder.core]}}
                  :devtools   {:reload-strategy :full
                               :preloads [flow-storm.api form-tricorder.dev]
                               :after-load form-tricorder.core/init!}}}

 :dev-http {3000 {:root "public"}}}
