{:deps     {:aliases [:cljs]}
 :npm-deps {:install false}
 :nrepl    {:port 8777}
 :builds   {:app {:target     :browser
                  :output-dir "public/js"
                  :asset-path "/js"
                  :modules    {:app
                               {:entries [form-tricorder.core]}}
                  :devtools   {:preloads [flow-storm.api]
                               :after-load form-tricorder.core/init!}}}

 :dev-http {3000 {:root "public"}}}
